<launch>
  <arg name="use_rviz" default="true"/>
  <arg name="use_rqt" default="false"/>
  
  <!-- load robot description  -->
  <!--ur5e parameters files -->
  <arg name="joint_limit_params" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
  <arg name="kinematics_params" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
  <arg name="physical_params" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
  <arg name="visual_params" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>

  <!--common parameters -->
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="safety_limits" default="false" doc="If True, enable the safety limits controller"/>
  <arg name="safety_pos_margin" default="0.15" doc="The lower/upper limits in the safety controller" />
  <arg name="safety_k_position" default="20" doc="Used to set k position in the safety controller" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mobdi_description)/robot_urdf/mobdi_robot.urdf.xacro'
    joint_limit_params:=$(arg joint_limit_params)
    kinematics_params:=$(arg kinematics_params)
    physical_params:=$(arg physical_params)
    visual_params:=$(arg visual_params)
    transmission_hw_interface:=$(arg transmission_hw_interface)
    safety_limits:=$(arg safety_limits)
    safety_pos_margin:=$(arg safety_pos_margin)
    safety_k_position:=$(arg safety_k_position)"
  />

  <!-- fake_joint_driver_node -->
  <node name="fake_joint_driver" pkg="fake_joint_driver" type="fake_joint_driver_node"/>
  
  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Load joint trajecotory controller -->
  <rosparam file="$(find fake_joint_launch)/config/ur5e_mobdi_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
	respawn="false" args="joint_state_controller arm_controller"/>

  <!-- Launch rviz -->
  <node if="$(arg use_rviz)"
	name="rviz" pkg="rviz" type="rviz"
	args="-d $(find fake_joint_launch)/launch/fake_joint_launch.rviz"/>

  <!-- Launch rqt joint_trajectory_controller -->
  <node if="$(arg use_rqt)"
	name="rqt" pkg="rqt_gui" type="rqt_gui"
	args="-s rqt_joint_trajectory_controller.joint_trajectory_controller.JointTrajectoryController"/>

  <!-- Run tests -->
  <test test-name="hztest" pkg="rostest" type="hztest">
    <param name="topic" value="joint_states"/>
    <param name="hz" value="50"/>
    <param name="hzerror" value="10"/>
    <param name="test_duration" value="5.0"/>  
  </test>

</launch>
